    <div class="login-page">
        {{#if isNotLoggedIn}}
            <a href="/login" class="home-link">Login</a>
            <a href="/register" class="home-link">Register</a>
        {{/if}}

        {{#if isLoggedIn}}
            <a href="/sessions/profile" class="home-link">My Profile</a>
            <form action="/sessions/logout" method="get">
                <button type="submit" class="home-link">Logout</button>
            </form>
        {{/if}}
    </div>
