<div class="form-container-new-password">
    <div class="form-new-password">
        <h2>Restablecer Contraseña</h2>
        <form action="/sessions/resetPassword/{{token}}" method="post">
            <div class="input-row">
                <label for="newPassword">Nueva Contraseña:</label>
                <input type="password" name="newPassword" id="newPassword" required />
            </div>
            <button type="submit">Restablecer contraseña</button>
        </form>
    </div>
</div>
