<div class="form-container-retrieve-password">
    <div class="form-retrieve-password">
        <h2>Recuperar Contraseña</h2>
        <form action="/sessions/retrievePass" method="post">
            <div class="input-row">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required />
            </div>
            <button type="submit">Enviar correo de recuperación</button>
        </form>
    </div>
</div>
